/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
        ext.when            = Conditional clause
----------------------------------------------------------------------------------------
*/

//
// Mitochondrial annotation options
//

process {
    withName: '.*ANNOTATE_MT_SNVS:HMTNOTE_ANNOTATE' {
        ext.prefix = { "${meta.prefix}" }
        ext.args = '--offline'
        publishDir = [
            enabled: false
        ]
    }

    withName: '.*ANNOTATE_MT_SNVS:ENSEMBLVEP_MT' {
        ext.args = { [
            '--dir_plugins vep_cache_and_plugins/Plugins',
            '--plugin LoFtool,vep_cache_and_plugins/LoFtool_scores.txt',
            '--plugin pLI,vep_cache_and_plugins/pLI_values_107.txt',
            '--plugin SpliceAI,snv=vep_cache_and_plugins/spliceai_scores.raw.snv.hg19.vcf.gz,indel=vep_cache_and_plugins/spliceai_scores.raw.snv.hg19.vcf.gz',
            '--assembly GRCh37 --plugin REVEL,file=vep_cache_and_plugins/new_tabbed_revel.tsv.gz',
            '--plugin MaxEntScan,vep_cache_and_plugins/fordownload,SWA,NCSS',
            '--distance 5000',
            '--buffer_size 20000',
            '--format vcf --max_sv_size 248956422',
            '--appris --biotype --cache --canonical --ccds --compress_output bgzip',
            '--domains --exclude_predicted --force_overwrite',
            '--hgvs --humdiv --no_progress --no_stats --numbers',
            '--merged --polyphen p --protein --offline --regulatory --sift p --symbol --tsl',
            '--uniprot --vcf --fields "Allele,Consequence,IMPACT,SYMBOL,Gene,Feature_type,Feature,BIOTYPE,EXON,INTRON,HGVSc,HGVSp,cDNA_position,CDS_position,Protein_position,Amino_acids,Codons,Existing_variation,DISTANCE,STRAND,FLAGS,SYMBOL_SOURCE,HGNC_ID,CANONICAL,TSL,APPRIS,CCDS,ENSP,SWISSPROT,TREMBL,UNIPARC,UNIPROT_ISOFORM,REFSEQ_MATCH,SOURCE,REFSEQ_OFFSET,GIVEN_REF,USED_REF,BAM_EDIT,SIFT,PolyPhen,DOMAINS,HGVS_OFFSET,MOTIF_NAME,MOTIF_POS,HIGH_INF_POS,MOTIF_SCORE_CHANGE,TRANSCRIPTION_FACTORS,LoFtool,pLI_gene_value,REVEL,MES-NCSS_downstream_acceptor,MES-NCSS_downstream_donor,MES-NCSS_upstream_acceptor,MES-NCSS_upstream_donor,MES-SWA_acceptor_alt,MES-SWA_acceptor_diff,MES-SWA_acceptor_ref,MES-SWA_acceptor_ref_comp,MES-SWA_donor_alt,MES-SWA_donor_diff,MES-SWA_donor_ref,MES-SWA_donor_ref_comp,MaxEntScan_alt,MaxEntScan_diff,MaxEntScan_ref"'
        ].join(' ') }
        ext.prefix = { "${meta.prefix}" }
        publishDir = [
            enabled: false
        ]
    }

    withName: '.*ANNOTATE_MT_SNVS:TABIX_TABIX_VEP_MT' {
            publishDir = [
            enabled: false
        ]
    }

    withName: '.*ANNOTATE_MT_SNVS:VCFANNO_MT' {
        ext.prefix = { "${meta.prefix}" }
        publishDir = [
            enabled: false
        ]
    }

    withName: '.*ANNOTATE_MT_SNVS:ZIP_TABIX_VCFANNO_MT' {
        ext.prefix = { "${meta.prefix}" }
        publishDir = [
            enabled: false
        ]
    }

    withName: '.*ANNOTATE_MT_SNVS:HAPLOGREP2_CLASSIFY_MT' {
        ext.prefix = { "${meta.prefix}_haplogrep" }
        publishDir = [
            enabled: false
        ]
    }

    withName: '.*ANNOTATE_MT_SNVS:ZIP_TABIX_HMTNOTE_MT' {
        publishDir = [
            enabled: false
        ]
    }
}
