/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: FASTQC {
        ext.args = '--quiet'
    }
    
    if (!params.skip_fastp) {
        withName: 'FASTP' {
            ext.args   = [ '',
                !params.trim_fastq             ? '--disable_adapter_trimming'                 : '', // Disable adapter trimming
                params.clip_r1 > 0             ? "--trim_front1 ${params.clip_r1}"            : '', // Remove bp from the 5' end of read 1
                params.clip_r2   > 0           ? "--trim_front2 ${params.clip_r2}"            : '', // Remove bp from the 5' end of read 2
                params.three_prime_clip_r1 > 0 ? "--trim_tail1 ${params.three_prime_clip_r1}" : '', // Remove bp from the 3' end of read 1 AFTER adapter/quality trimming has been performed
                params.three_prime_clip_r2 > 0 ? "--trim_tail2 ${params.three_prime_clip_r2}" : '', // Remove bp from the 3' end of read 2 AFTER adapter/quality trimming has been performed
                params.trim_nextseq            ? '--trim_poly_g'                              : '', // Apply the --nextseq=X option, to trim based on quality after removing poly-G tails
                params.split_fastq > 0         ? "--split_by_lines ${params.split_fastq * 4}" : ''
            ].join(' ').trim()
            publishDir = [
                path: { "${params.outdir}/preprocessing" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            ]
        }
    }
    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/preprocessing/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*SMNCOPYNUMBERCALLER' {
        ext.args = {
        (params.genome == 'GRCh37') ? '--genome 37' : '--genome 38'
        }
        ext.prefix = { "${meta.id}" }
        publishDir = [
            path: { "${params.outdir}/variant_call/smncopynumbercaller" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: '.*FILTER_VEP_SNV' {
        ext.when   = !params.skip_vep_filter
        ext.prefix = { "${meta.id}_clinical_snv" }
        publishDir = [
            enabled: false
        ]
    }

    withName: '.*ZIP_TABIX_VCFANNO' {
        publishDir = [
            enabled: false
        ]
    }

    withName: '.*ZIP_TABIX_VCFANNO' {
        publishDir = [
            enabled: false
        ]
    }

    withName: '.*BCFTOOLS_ROH' {
        publishDir = [
            enabled: false
        ]
    }
    withName: '.*BCFTOOLS_VIEW' {
        publishDir = [
            enabled: false
        ]
    }
    withName: '.*BCFTOOLS_CONCAT' {
        publishDir = [
            enabled: false
        ]
    }
    withName: '.*ZIP_TABIX_ROHCALL' {
        publishDir = [
            enabled: false
        ]
    }
    withName: '.*TABIX_VEP' {
        publishDir = [
            enabled: false
        ]
    }
    withName: '.*TABIX_BCFTOOLS_CONCAT' {
        publishDir = [
            enabled: false
        ]
    }
    withName: '.*ANN_CSQ_PLI_SNV:TABIX_BGZIPTABIX' {
        publishDir = [
            enabled: false
        ]
    }
    withName: '.*GENERATE_CLINICAL_SET_MT:TABIX_TABIX' {
        publishDir = [
            enabled: false
        ]
    }
    withName: '.*ANNOTATE_MT_SNVS:TABIX_TABIX_VEP_MT' {
        publishDir = [
            enabled: false
        ]
    }
    withName: '.*GENERATE_CLINICAL_SET_SNV:TABIX_TABIX' {
        publishDir = [
            enabled: false
        ]
    }
    withName: '.*ANNOTATE_GENOME_SNVS:TABIX_BCFTOOLS_CONCAT' {
        publishDir = [
            enabled: false
        ]
    }
    withName: '.*POSTPROCESS_MT_CALLS:TABIX_TABIX_MT' {
        publishDir = [
            enabled: false
        ]
    }
    withName: '.*POSTPROCESS_MT_CALLS:TABIX_TABIX_MT2' {
        publishDir = [
            enabled: false
        ]
    }
    withName: '.*POSTPROCESS_MT_CALLS:TABIX_TABIX_MERGE' {
        publishDir = [
            enabled: false
        ]
    }
    withName: '.*ANNOTATE_GENOME_SNVS:ANNOTATE_RHOCALLVIZ:TABIX_TABIX' {
        publishDir = [
            enabled: false
        ]
    }
    withName: '.*ANNOTATE_MT_SNVS:ZIP_TABIX_HMTNOTE_MT' {
        publishDir = [
            enabled: false
        ]
    }
}

